[submodule "dependencies/json"]
	path = dependencies/json
	url = git@github.com:nlohmann/json.git
[submodule "dependencies/websocketpp"]
	path = dependencies/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
